 

.body {
    margin: 0;
    padding: 0;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/373/952/839/wooden-spoon-condiments-background-wallpaper-preview.jpg');
    background-size: cover;
    height: 100vh; /* Ensures the background covers the entire viewport */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow-y: scroll; /* Add scroll only for y-axis */
}

.signup-container {
    width: 400px; /* Set a fixed width */
    margin: 40px auto; /* 40px margin from top and bottom, auto horizontal margin for centering */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity for readability */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px); /* Adjusted width to accommodate padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}
